src/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libvirt-qpid-*.tar.gz
libvirt-qpid.init
ltmain.sh
missing
src/.deps
src/.libvirt-schema.xml.tstamp
*~
src/libvirt-qpid
src/qmf/
stamp-h1
